<header>
  <a class="navbar-brand float-left" href="#">The Market</a>
  <%= link_to "Sign Up", signup_path, class: 'button' %> | 
  <%= link_to "Sign In", new_session_path %>
  <div class="container-fluid">

  	<ul class="nav float-right">
	  <li class="nav-item">
	    <a class="nav-link" href="#">Home</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">About</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Products</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Location</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Register</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Log In</a>
	  </li>
	</ul>
	</div>

  </header>